body {
  /* background-color: black; */
  /* color:white; */

  margin: 0px;
  text-align: center;
  align-content: center;
}
button {
  background-color: #141a4b;
  border-radius: 10px;
  color: white;
  border: 0px;
  padding: 10px;
}
