<div>
  <form>
    <div id="main">
      <h1>Ticket Successfully Raised</h1>
      Id of Ticket:<label>&emsp;{{ user.ticketid }}</label
      ><br />
      Request Type:<label>&emsp;{{ user.requestype }}</label
      ><br />
      Priority:<label>&emsp;{{ user.priority }}</label
      ><br />
      Travel City:<label>&emsp;{{ user.city }}</label
      ><br />
      From Location City:<label>&emsp;{{ user.fromcity }}</label
      ><br />
      Travel Start Date :<label>&emsp;{{ user.startdate }}</label
      ><br />
      Travel End Date:<label>&emsp;{{ user.endate }}</label
      ><br />
      Passport Number:<label>&emsp;{{ user.passportnumber }}</label
      ><br />
      Project Name:<label>&emsp;{{ user.projectname }}</label
      ><br />
      Expense Borne by:<label>&emsp;{{ user.expenseborn }}</label
      ><br />
      Travel Approver Name:<label>&emsp;{{ user.travelapprover }}</label
      ><br />
      Expected Duration of Travel:<label>&emsp;{{ user.expectduration }}</label
      ><br />
      Any Upper Bound on the allowed amount? If yes Specify:<label
        >&emsp;{{ user.upperbound }}</label
      ><br />
      Any Additional Details ::<label>&emsp;{{ user.additional }}</label
      ><br />
      Status of Request:<label>&emsp;{{ user.status }}</label
      ><br />
    </div>

    <button (click)="Return()">Return Home</button><br />
    <button (click)="Edit()">Edit</button><br />
    <button (click)="print()">print</button><br />
  </form>
</div>
