.header {
  background-color: #141a4b;
  font-size: 60px;
  margin-bottom: 0px;
  padding-bottom: 20px;
}
a {
  size: 100px;

  color: White;
  font-style: italic;
  font-style: bold;

  font-size: 50px;
  font-weight: 100;
  text-decoration: none;
}
