<div class="loginbg">
  <h1>Login</h1>
  <form>
    <h1>
      Username:
      <input
        type="text"
        placeholder="Enter username"
        [(ngModel)]="user.username"
        name="username"
      />
    </h1>
    <br />
    <h1>
      Password:
      <input
        type="password"
        placeholder="Enter password"
        [(ngModel)]="user.password"
        name="password"
      />
    </h1>
    <label style="color: red;">{{ msg }}</label>
    <br />

    <button class="btn btn success" (click)="login()">
      login</button
    ><br /><br />
  </form>
  <div class="container">
    <span>Don't have a username and Password</span><br />
    <a routerLink="/register" style="color: rgb(102, 219, 102);"
      ><span>Register now!</span><br
    /></a>
    <span>Forgot your username or password?</span>
    <a class="nav-item nav-link" routerLink="/forget" style="color: tomato;"
      >ForgetPassword</a
    ><br />
  </div>
</div>
