<body>
  <mat-toolbar color="primary">
    <img width="180px"  src="https://plsadaptive.s3.amazonaws.com/eco/images/partners/ZK4lo48RDUIL1ew9ffjTbLahLCIxmATc8OXYeeS5.png">
     <div class="spacer"></div>
    <button mat-button (click)="Return()">Homepage</button>
  
    <button mat-button (click)="Logout()">Logout</button><br/>
  
  </mat-toolbar>
    <div class="container">
    <div class="row">
      <div class="col-10">
        <div class="jumbotron">
          <form name="form">
            <div id="print-section">
            <h2>Ticket  Successfully Raised </h2>
            <div class="form-group">
                <label for="ticketid"><b>Id of Ticket:</b>&emsp;{{user.ticketid}}</label>
              </div>


              <div class="form-group">
                <label for="requestype"><b>Request Type:</b>&emsp;{{user.requestype}}</label>
              </div>

              <div class="form-group">
                <label for="priority"><b>Priority:</b>&emsp;{{user.priority}}</label>
              </div>

              <div class="form-group">
                <label for="city"><b>Travel City:</b>&emsp;{{user.city}}</label>
              </div>

              <div class="form-group">
                <label for="fromcity"><b> From Location City:</b>&emsp;{{user.fromcity}}</label>
              </div>

              <div class="form-group">
                <label for="startdate"><b>Travel Start Date :</b>&emsp;{{user.startdate}}</label>
              </div>

              <div class="form-group">
                <label for="endate"><b>  Travel End Date:</b>&emsp;{{user.endate}}</label>
              </div>

              <div class="form-group">
                <label for="passportnumber"><b>Passport Number:</b>&emsp;{{user.passportnumber}}</label>
              </div>

              <div class="form-group">
                <label for="projectname"><b>Project Name:</b>&emsp;{{user.projectname}}</label>
              </div>

              <div class="form-group">
                <label for="travelapprover"><b>Travel Approver Name:</b>&emsp;{{user.travelapprover}}</label>
              </div>

              <div class="form-group">
                <label for="expectduration"><b>Expected Duration of Travel:</b>&emsp;{{user.expectduration}}</label>
              </div>

              <div class="form-group">
                <label for="upperbound"><b>Any Upper Bound on the allowed amount? If yes Specify:</b>&emsp;{{user.upperbound}}</label>
              </div>

              <div class="form-group">
                <label for="additional"><b>Any Additional Details :</b>&emsp;{{user.additional}}</label>
              </div>
            </div>
        <button class="formbutton" (click)="Edit()">Edit</button><br/>
        <button class="formbutton"  (click)="print()">print</button><br/>
    </form>
    </div>
    </div>
</div>
</div>
</body>