<div class="container">
  <div class="row">
    <div class="col-10">
      <div class="jumbotron">
        <form name="form" [formGroup]="form">
          <div class="form-group">
            <label for="ticketid"
              ><b>Id of Ticket:</b>&emsp;{{ user.ticketid }}</label
            >
          </div>

          <div class="form-group">
            <label for="requestype"
              ><b>Request Type:</b>&emsp;{{ user.requestype }}</label
            >
          </div>

          <div class="form-group">
            <label for="priority"
              ><b>Priority:</b>&emsp;{{ user.priority }}</label
            >
          </div>

          <div class="form-group">
            <label for="city"><b>Travel City:</b>&emsp;{{ user.city }}</label>
          </div>

          <div class="form-group">
            <label for="fromcity"
              ><b> From Location City:</b>&emsp;{{ user.fromcity }}</label
            >
          </div>

          <div class="form-group">
            <label for="startdate"
              ><b>Travel Start Date :</b>&emsp;{{ user.startdate }}</label
            >
          </div>

          <div class="form-group">
            <label for="endate"
              ><b> Travel End Date:</b>&emsp;{{ user.endate }}</label
            >
          </div>

          <div class="form-group">
            <label for="passportnumber"
              ><b>Passport Number:</b>&emsp;{{ user.passportnumber }}</label
            >
          </div>

          <div class="form-group">
            <label for="projectname"
              ><b>Project Name:</b>&emsp;{{ user.projectname }}</label
            >
          </div>

          <div class="form-group">
            <label for="travelapprover"
              ><b>Travel Approver Name:</b>&emsp;{{
                user.travelapprover
              }}</label
            >
          </div>

          <div class="form-group">
            <label for="expectduration"
              ><b>Expected Duration of Travel:</b>&emsp;{{
                user.expectduration
              }}</label
            >
          </div>

          <div class="form-group">
            <label for="expenseborn"
              ><b>Expense Born:</b>&emsp;{{ user.expenseborn }}</label
            >
          </div>

          <div class="form-group">
            <label for="upperbound"
              ><b>Any Upper Bound on the allowed amount? If yes Specify:</b
              >&emsp;{{ user.upperbound }}</label
            >
          </div>

          <div class="form-group">
            <label for="additional"
              ><b>Any Additional Details :</b>&emsp;{{ user.additional }}</label
            >
          </div>

          <div class="form-group">
            <label for="status"><b>Change Status</b></label>
            <select value="" class="form-control" formControlName="status">
              <option value="Approved">Approved</option>
              <option value="In Process">In Process</option>
            </select>
          </div>

          <div class="form-group">
            <label for="file"><b>Choose File</b></label>
            <input type="file" formControlName="file" />
          </div>

          <div class="form-group">
            <label for="comment"><b>Add Comment:</b></label>
            <input type="text" class="form-control" formControlName="comment" />
          </div>

          <div class="form-group">
            <button class="btn btn-primary" (click)="onSubmit(user.ticketid)">
              Submit
            </button>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
