.spacer {
  flex: 1 1 auto;
}
*:before,
*:after {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

header {
  width: 100%;
  background: #000033;
  text-align: center;
  height: 100%;
  margin-top: 0;
  padding-top: 0;
  border-top: 0;
}

form {
  max-width: 300px;
  text-align: left;
  margin: 10px auto;
  padding: 10px 20px;
  border-radius: 8px;
  background-image: url(https://previews.123rf.com/images/mareandmare/mareandmare1212/mareandmare121200010/16888305-an-abstract-whitish-blue-background-in-the-form-of-ice-crystals.jpg);
  color: black;
}

fieldset {
  margin-bottom: 30px;
  border: none;
}

.field_contact {
  border-bottom: solid;
}

.p_intro {
  border-bottom: double;
  padding-bottom: 20px;
}

h1 {
  color: white;
  margin-top: 0;
  padding-top: 20px;
}

input[type="text"],
input[type="password"],
input[type="email"],
input[type="tel"],
input[type="number"],
select {
  background: rgba(255, 255, 255, 0.1);
  border: none;
  font-size: 16px;
  height: auto;
  margin: 0;
  outline: 0;
  padding: 10px;
  width: 90%;
  background-color: #e8eeef;
  color: #8a97a0;
  box-shadow: 0 1px 0 rgba(0, 0, 0, 0.03) inset;
  margin-bottom: 30px;
}

label[for="topics"] {
  padding-top: 20px;
}

textarea {
  background: rgba(255, 255, 255, 0.1);
  border: none;
  font-size: 16px;
  height: 100px;
  margin: 0;
  outline: 0;
  padding: 10px;
  width: 90%;
  background-color: #e8eeef;
  color: #8a97a0;
  box-shadow: 0 1px 0 rgba(0, 0, 0, 0.03) inset;
  margin-bottom: 30px;
}

input[type="radio"],
input[type="checkbox"] {
  margin: 0 4px 8px 0;
}

.formbutton {
  padding: 10px 10px;
  color: black;
  font-weight: 900;
  background-color: whitesmoke;
  font-size: 18px;
  text-align: center;
  font-style: normal;
  border-radius: 5px;
  width: 100%;
  border: 1px solid lightblue;
  border-width: 1px 1px 3px;
  box-shadow: 0 -1px 0 rgba(255, 255, 255, 0.1) inset;
  margin-bottom: 10px;
}

legend {
  font-weight: bold;
  font-size: 140%;
  margin: 10px 0 10px 0;
}

label {
  display: block;
  margin-bottom: 10px;
}

label.light {
  font-weight: 300;
  display: inline;
}

footer {
  text-align: center;
  color: #b4b4cb;
  padding-top: 20px;
}

::-webkit-input-placeholder {
  text-align: right;
}

input:-moz-placeholder {
  text-align: right;
}

input[type="text"]:focus,
input[type="email"]:focus,
input[type="tel"]:focus {
  border: solid;
}

.p_intro,
h2 {
  text-align: center;
}

@media screen and (min-width: 760px) {
  form {
    max-width: 480px;
  }
}

a {
  float: right;
  padding-top: 5px;
  padding-right: 30%;
  color: black;
}
div[class="invalid-feedback"] {
  color: red;
}
