<div>
  <form>
    <br />
    <br />
    <br />
    First Name:
    <input type="text" [(ngModel)]="user.firstName" name="firstName" /><br />
    Last Name:
    <input type="text" [(ngModel)]="user.lastName" name="lastName" /><br />
    Business Unit:
    <input
      type="text"
      [(ngModel)]="user.businessUnit"
      name="businessUnit"
    /><br />
    Title: <input type="text" [(ngModel)]="user.title" name="title" /><br />
    E-mail: <input type="email" [(ngModel)]="user.email" name="email" /><br />
    Telephone:
    <input type="number" [(ngModel)]="user.telephone" name="telephone" /><br />
    Address1:
    <input type="text" [(ngModel)]="user.address1" name="address1" /><br />
    Address2:
    <input type="text" [(ngModel)]="user.address2" name="address2" /><br />
    City: <input type="text" [(ngModel)]="user.city" name="city" /><br />
    State: <input type="text" [(ngModel)]="user.state" name="state" /><br />
    Zip: <input type="text" [(ngModel)]="user.zip" name="zip" /><br />
    Country:
    <input type="text" [(ngModel)]="user.country" name="country" /><br />
    <button (click)="addUser()">{{ buttoname }}</button>
  </form>
</div>
