input[type=text], input[type=password] {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    box-sizing: border-box;
  }

  div[class="invalid-feedback"]{
    color: red;
  }
  label{
    font-size: 5mm;
  }
  button {
    background-color: #4CAF50;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    cursor: pointer;
    width: 100%;
  }
  
  button:hover {
    opacity: 0.8;
  }
 
  
  .imgcontainer {
    text-align: center;
    margin: 24px 0 12px 0;
  }
  
  img.avatar {
    width: 40%;
    border-radius: 50%;
  }
  
  .container {
    padding: 16px;
  }
  
  a {
    float: right;
  }
  form{
    float: center;
    text-align: center;
    width: 50%;
    max-width: 500px;
    margin: 10px auto;
    padding: 20px 20px;
    border-radius: 8px;
    background-color:whitesmoke;
    opacity: 0.9;
  }
  h1{
    text-align: center;
    margin-top: 5%;
    color: green;
    block-size: 20px;
    opacity: 0.5;
  }