<div>
    <h1>Registration: Confirmation</h1>
    <span>
        Thank you for Registring.The admin will contact you shortly with your username and password.
    </span>
    <div>
        Name:<br>
        Buisness Unit:<br>
        Title:<br>
        Email:<br>
        Telephone:<br>
        Address1:<br>
        Address2<br>
        City:<br>
        State:<br>
        Zip:<br>
        Country<br>
    </div>
    <input type="button" value="Print">
    <input type="button" value="Edit">
    <input type="button" value="Return to Home Page">
</div>