<div>
  <h1>Registration: Confirmation</h1>
  <span>
    Thank you for Registring.The admin will contact you shortly with your
    username and password.
  </span>

  <table id="table">
    <tr>
      <td>First Name:</td>
      &emsp;{{
        user.firstName
      }}
    </tr>

    <tr>
      <td>Last Name:</td>
      &emsp;{{
        user.lastName
      }}
    </tr>

    <tr>
      <td>Business Unit:</td>
      &emsp;{{
        user.businessUnit
      }}
    </tr>

    <tr>
      <td>Title:</td>
      &emsp;{{
        user.title
      }}
    </tr>

    <tr>
      <td>E-mail:</td>
      &emsp;{{
        user.email
      }}
    </tr>

    <tr>
      <td>Telephone:</td>
      &emsp;{{
        user.telephone
      }}
    </tr>

    <tr>
      <td>Address1:</td>
      &emsp;{{
        user.address1
      }}
    </tr>

    <tr>
      <td>Address2:</td>
      &emsp;{{
        user.address2
      }}
    </tr>

    <tr>
      <td>City:</td>
      &emsp;{{
        user.city
      }}
    </tr>

    <tr>
      <td>State:</td>
      &emsp;{{
        user.state
      }}
    </tr>

    <tr>
      <td>Zip:</td>
      &emsp;{{
        user.zip
      }}
    </tr>

    <tr>
      <td>Country:</td>
      &emsp;{{
        user.country
      }}
    </tr>
  </table>

  <button onclick="window.print();">print</button>
  <button (click)="Return()">Return Home</button>
  <button (click)="Edit()">Edit</button>
</div>
