<table class="table" style="margin: 2px; border: 10px;">
  <tr>
    <th>Ticket id</th>
    <th>Request Type</th>
    <th>Priority</th>
    <th>City</th>
    <th>From City</th>
    <th>Start Date</th>
    <th>
      End Date
    </th>
    <th>Passport</th>
    <th>Project Name</th>
    <th>Expense Born</th>
    <th>
      Travel Approver
    </th>
    <th>Expect Duration</th>
    <th>Upper Bound</th>
    <th>Additional</th>
    <th>Status</th>
  </tr>
  <tr
    *ngFor="
      let x of user
        | paginate
          : {
              id: 'listing_pagination',
              itemsPerPage: 5,
              currentPage: page,
              totalItems: totalRecords
            }
    "
  >
    <td>{{ x.ticketid }}</td>
    <td>{{ x.requestype }}</td>
    <td>{{ x.priority }}</td>
    <td>{{ x.city }}</td>
    <td>{{ x.fromcity }}</td>
    <td>{{ x.startdate }}</td>
    <td>{{ x.endate }}</td>
    <td>{{ x.passportnumber }}</td>
    <td>{{ x.projectname }}</td>
    <td>{{ x.expenseborn }}</td>
    <td>{{ x.travelapprover }}</td>
    <td>{{ x.expectduration }}</td>
    <td>{{ x.upperbound }}</td>
    <td>{{ x.additional }}</td>
    <td>{{ x.status }}</td>
  </tr>
</table>

<div style="text-align: center;">
  <pagination-controls
    id="listing_pagination"
    maxSize="5"
    directionLinks="true"
    (pageChange)="page = $event"
  ></pagination-controls>
</div>
