<mat-toolbar color="primary">
  <img width="180px"  src="https://plsadaptive.s3.amazonaws.com/eco/images/partners/ZK4lo48RDUIL1ew9ffjTbLahLCIxmATc8OXYeeS5.png">
   <div class="spacer"></div>
  <button mat-button routerLink="/homepage/{{userId}}">Homepage</button>

  <button mat-button (click)="Logout()">Logout</button><br/>

</mat-toolbar>
<div class="container">
  <div class="row">
    <div class="col-10">
      <div class="jumbotron">
        <form name="form" [formGroup]="form">
          <h2>Ticket</h2>
          <div class="form-group">
            <label for="radio">Request Type: </label>
            <input type="radio" class="form-control" formControlName="requestype" [ngClass]="{'is-invalid':form.get('requestype').touched && form.get('requestype').invalid}"   value="travelticket"/>Travel Tickets<br/>
            <input type="radio" class="form-control" formControlName="requestype" [ngClass]="{'is-invalid':form.get('requestype').touched && form.get('requestype').invalid}"   value="hotelstay"/>Hotel Stay<br/>
            <input type="radio"class="form-control" formControlName="requestype" [ngClass]="{'is-invalid':form.get('requestype').touched && form.get('requestype').invalid}"  value="visa"/>Visa<br/>
            <input type="radio"class="form-control" formControlName="requestype" [ngClass]="{'is-invalid':form.get('requestype').touched && form.get('requestype').invalid}"   value="workpermit"/>Work Permit<br/>
            <div *ngIf="form.get('requestype').touched && form.get('requestype').invalid"  class="invalid-feedback">
              <div *ngIf="form.get('requestype').errors.required">First Name is required</div>
            </div>
          </div>


          <div class="form-group">
            <label for="priority">  Priority:</label>
            <select value="" class="form-control" formControlName="priority" [ngClass]="{'is-invalid':form.get('priority').touched && form.get('priority').invalid}">
              <option label="Normal" value="normal">Normal</option>
              <option label="Urgent" value="urgent">Urgent</option>
              <option label="Immediate" value="immediate">Immediate</option>
            </select>
            <div *ngIf="form.get('priority').touched && form.get('priority').invalid"  class="invalid-feedback">
              <div *ngIf="form.get('priority').errors.required">Priority is required</div>
            </div>
          </div>


          <div class="form-group">
            <label for="city"> Travel City:</label>
            <select value="" class="form-control" formControlName="city" [ngClass]="{'is-invalid':form.get('city').touched && form.get('city').invalid}">
              <option  value="Gurgaon">Gurgaon</option>
              <option  value="Mumbai">Mumbai</option>
              <option  value="Hydrabad">Hydrabad</option>
              <option  value="Los Angeles">Los Angeles</option>
              <option  value="New York">New York</option>
              <option  value="Paris">Paris</option>
              <option  value="Chicago">Chicago</option>
              <option  value="Washington">Washington</option>
              <option  value="Jaipur">Jaipur</option>
              <option  value="Amritsar">Amritsar</option>
              <option  value="New Delhi"> New Delhi</option>
              <option  value="Chennai">Chennai</option>
            </select>
            <div *ngIf="form.get('city').touched && form.get('city').invalid"  class="invalid-feedback">
              <div *ngIf="form.get('city').errors.required">Cityis required</div>
            </div>
          </div>

          <div class="form-group">
            <label for="fromcity"> From Location City:</label>
            <select value="" class="form-control" formControlName="fromcity" [ngClass]="{'is-invalid':form.get('fromcity').touched && form.get('fromcity').invalid}">
              <option  value="Gurgaon">Gurgaon</option>
              <option  value="Mumbai">Mumbai</option>
              <option  value="Hydrabad">Hydrabad</option>
              <option  value="Los Angeles">Los Angeles</option>
              <option  value="New York">New York</option>
              <option  value="Paris">Paris</option>
              <option  value="Chicago">Chicago</option>
              <option  value="Washington">Washington</option>
              <option  value="Jaipur">Jaipur</option>
              <option  value="Amritsar">Amritsar</option>
              <option  value="New Delhi"> New Delhi</option>
              <option  value="Chennai">Chennai</option>
            </select>
            <div *ngIf="form.get('fromcity').touched && form.get('fromcity').invalid"  class="invalid-feedback">
              <div *ngIf="form.get('fromcity').errors.required">Cityis required</div>
            </div>
          </div>
           
          
          <div class="form-group">
            <label for="date"> Travel Start Date :</label>
            <input type="date" class="form-control" formControlName="date" [ngClass]="{'is-invalid':form.get('date').touched && form.get('date').invalid}"   />
            <div *ngIf="form.get('date').touched && form.get('date').invalid"  class="invalid-feedback">
              <div *ngIf="form.get('date').errors.required">date is required</div>
            </div>
          </div>
          
          <div class="form-group">
            <label for="enddate"> Travel End Date : </label>
            <input type="date" class="form-control" formControlName="enddate" [ngClass]="{'is-invalid':form.get('enddate').touched && form.get('enddate').invalid}"   />
            <div *ngIf="form.get('enddate').touched && form.get('enddate').invalid"  class="invalid-feedback">
              <div *ngIf="form.get('enddate').errors.required">End date is required</div>
            </div>
          </div>

          <div class="form-group">
            <label for="passportnumber"> Passport Number:  </label>
            <input type="text" class="form-control" formControlName="passportnumber" [ngClass]="{'is-invalid':form.get('passportnumber').touched && form.get('passportnumber').invalid}"   />
            <div *ngIf="form.get('passportnumber').touched && form.get('passportnumber').invalid"  class="invalid-feedback">
              <div *ngIf="form.get('passportnumber').errors.required">Passport number is required</div>
            </div>
          </div>

          

          <div class="form-group">
            <label for="projectname"> Project Name:  </label>
            <input type="text" class="form-control" formControlName="projectname" [ngClass]="{'is-invalid':form.get('projectname').touched && form.get('projectname').invalid}"   />
            <div *ngIf="form.get('projectname').touched && form.get('projectname').invalid"  class="invalid-feedback">
              <div *ngIf="form.get('projectname').errors.required">Project name is required</div>
            </div>
          </div>
        
          <div class="form-group">
            <label for="expenseborn">Expense Borne by:  </label>
            <input type="radio" class="form-control" formControlName="expenseborn" [ngClass]="{'is-invalid':form.get('expenseborn').touched && form.get('expenseborn').invalid}"   value="nagarro"/>Nagarro<br/>
            <input type="radio" class="form-control" formControlName="expenseborn" [ngClass]="{'is-invalid':form.get('expenseborn').touched && form.get('expenseborn').invalid}"   value="client"/>Client<br/>
          </div>

          <div class="form-group">
            <label for="travelapprover"> Travel Approver Name : </label>
            <input type="text" class="form-control" formControlName="travelapprover"/>
          </div>

          <div class="form-group">
            <label for="expectduration"> Expected Duration of Travel : </label>
            <input type="text" class="form-control" formControlName="expectduration"/>
          </div>

          <div class="form-group">
            <label for="upperbound"> Any Upper Bound on the allowed amount? If yes Specify: </label>
            <input type="text" class="form-control" formControlName="upperbound"/>
          </div>
         

          <div class="form-group">
            <label for="additional">Any Additional Details :   </label>
            <input type="text" class="form-control" formControlName="additional" [ngClass]="{'is-invalid':form.get('additional').touched && form.get('additional').invalid}"   />
            <div *ngIf="form.get('additional').touched && form.get('additional').invalid"  class="invalid-feedback">
              <div *ngIf="form.get('additional').errors.required">Additional name is required</div>
            </div>
          </div>

          <div class="form-group">
            <button class="formbutton"  (click)="onSubmit()">{{buttoname}}</button>
          </div>
    </form>
    </div>
    </div>
</div>
</div>