<mat-toolbar color="primary">
    <img width="180px"  src="https://plsadaptive.s3.amazonaws.com/eco/images/partners/ZK4lo48RDUIL1ew9ffjTbLahLCIxmATc8OXYeeS5.png">
     <div class="spacer"></div>
    <button mat-button routerLink="/homepage/{{userId}}">Homepage</button>

    <button mat-button (click)="Logout()">Logout</button><br/>

</mat-toolbar>

<h2> Tickets of User {{userId}}</h2>

<div class="card-body">
    <table>
       
    <tr>
        <th>Ticket ID</th>
        <th>Request Type</th>
        <th>Priority</th>
        <th>Status</th>
    </tr>
     
        <tr *ngFor="let obj of user |paginate : { id: 'listing_pagination',
            itemsPerPage: 5,
            currentPage: page,
            totalItems: totalRecords  }">
            <td> <a (click)="link(obj.ticketid)" target="_blank">#{{obj.ticketid}}</a></td>
            <td>{{obj.requestype}}</td>
            <td>{{obj.priority}}</td>
            <td>{{obj.status}}</td>
        </tr>
        
     </table>
    
    
</div>

<div style="text-align: center;">
    <pagination-controls id="listing_pagination" maxSize="5" directionLinks="true" (pageChange)="page = $event"></pagination-controls>
</div>